@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-align: center;
  box-sizing: border-box;
  font-style: italic;
  display: grid;
}

a {
  color: blue;
}
